.og-contianer{
    max-width: 1200px;
    margin: auto;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    background: #1c1f21 !important;
    padding: 30px;
    border-radius: 10px;
  }